.home-wrapper{
    margin-top: 10vh;
}

.movie-card{
    margin-right: 7px;
    margin-bottom: 7px;
    border-color: black;
    background: black;
    cursor: pointer;
}

.movie-title{
    font-weight: bold;
    color: #E67877;
    font-size: 1.2rem;
}

.movie-modal-description{
    font-size: 1 rem;
    color: #F1F5F2;
    margin-bottom: 5px;
}

.movie-modal-date{
    font-size: 1 rem;
    color : #ffffff;
}


.modal-body {
    background-color: black;
}

.modal-header, .modal-footer {
    background-color: black;
    color: white;
}

.modal-header.border-0, .modal-footer.border-0 {
    border-bottom: none;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  @media screen and (max-width: 991px) {
    .movie-card {
      width: calc(100% / 5 - 20px);
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 575px) {
    .movie-card {
      width: calc(100% / 3 - 20px); 
      margin-bottom: 20px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .movie-card {
      width: calc(100% / 8 - 20px); 
      margin-bottom: 20px;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 991px) {
    .movie-card {
      width: calc(100% / 5 - 20px); 
      margin-bottom: 20px;
    }
  }
  